 <html>
 <body> 
 <h1>Este eh o cabecalho 1</h1>
<h2>Este eh o cabecalho 2</h2>
<h3>Este eh o cabecalho 3</h3>
<h4>Este eh o cabecalho 4</h4>
<h5>Este eh o cabecalho 5</h5>
<h6>Este eh o cabecalho 6</h6>
</body>
</html>



<p> este eh um paragrafo. </p>
vá ao outro site para ver mais exempos
<a href="http://www.google.com">This is a link</a>

<p> este é outro paragrafo.</p>
Veja imagens:
<img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">
<p> este é outro paragrafo.</p>
Click no botao a seguir
<button>Click me</button>
<p> este é outro paragrafo.</p>
Veja opcoes de escolha
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

